
p {
  background-color: #fffffa;

  margin-left: 15%;
  margin-right: 15%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: Courier, cursive;
}

section {
  background-color: #fafaff;
  margin-left: 7%;
  margin-right: 7%;
  padding-top: 4%;
  padding-bottom: 4%;
  border: 6px solid #539DC2;
  position: relative;
}
/*
img#blog {
  background-color: #3a6d87;
}*/

img#static {
  float: left;
  height: 20em;
  width:  20em;

}

img#relative {
  float: left;
  height: 20em;
  width:  20em;
}

img#example_class {
  float: center;
  height: 20em;
  width: 20em;
}

img#inheritance {
  float: center;
  height: 20em;
  width: 20em;
}

img#composition {
  float: center;
  height: 40em;
  width: 20em;
}

img#module {
  float: center;
  height: 35em;
  width: 20em;
}

ul {
  font-family: Courier;
  font-size: 1.5em;
  margin-left: 3em;
  padding-left: 0%;
  position: relative;
  list-style-position: inside;
  background-color: #fafaff;
  margin-left: 7%;
  margin-right: 7%;
  padding-top: 4%;
  padding-bottom: 4%;
  border: 6px solid #539DC2;
  text-decoration: none;
}



