html {
  background-color: #B2DFEE;
}

table {
  border: 4px solid gray;
  width: 100%;
  background-color: #539DC2;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  font-family: Verdana;
}

img {
  height: 40px;
  width: 40px;
  float: right;
}

ul {
  font-family: Courier;
  font-size: 1.5em;
  margin-left: 3em;
  padding-left: 0%;
  position: relative;
  list-style-position: inside;
  background-color: #fafaff;
  margin-left: 7%;
  margin-right: 7%;
  padding-top: 4%;
  padding-bottom: 4%;
  border: 6px solid #539DC2;
  text-decoration: none;
}

h1{
  font-size: 2.5em;
  font-family: Verdana;
}

body {
  text-align: center;
}

span {
  font-style: bold;
  font-size: 2rem;
  width: 40%;
  text-decoration: none;
}