html {
  background-color: #B2DFEE;
}

table#nav_bar {
  border: 4px solid gray;
  width: 100%;
  background-color: #539DC2;
  font-family: Verdana;
  margin-top: 0%;
  margin-right: 0%;
  margin-left: 0%;
  background-image: url("https://github.com/rauriemo/rauriemo.github.io/blob/master/imgs/logo-long.png?raw=true");
  background-repeat: no-repeat;
  background-size: percentage 100;
  background-position: right ;
  bac
}

img#logo {
  width:100%;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
  float: left;
  position: relative;
}

img#blog {
  height: 40px;
  width: 40px;
  float: right;/*
  position: absolute;
  right: 5px;
  top: 5px;*/
}

img#about_me{
  height: 40px;
  width: 40px;
  float: right;
}

img#contact_me{
  height: 40px;
  width: 40px;
  float: right;
}

img#projects{
  height: 40px;
  width: 40px;
  float: right;
}

h1{
  font-size: 2.5em;
  font-family: Verdana;
}

body {
  text-align: center;
}
/*
header {
  width: 100%;
  margin-top: 0%;
  margin-right: 0%;
  margin-left: 0%;
  padding-left: 0%;
  float: top;
  position: relative;
}*/
/*
div#logo-div {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}

div#buttons {
  position: relative;
  z-index: 2;
}*/