html {
  background-color: #B2DFEE;
}

table#nav_bar {
  border: 4px solid gray;
  width: 100%;
  font-family: Verdana;
  margin-top: 0%;
  margin-right: 0%;
  margin-left: 0%;
  padding-right: 6%;
  padding-top: 1%;
  padding-bottom: 1%;
}

img#logo {
  width:100%;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
  float: left;
  position: relative;
}

img#blog {
  height: 40px;
  width: 40px;
  padding-right: 15px;
}

img#about_me{
  height: 40px;
  width: 40px;
  padding-right: 15px;
}

img#contact_me{
  height: 40px;
  width: 40px;
  padding-right: 15px;
}

img#projects{
  height: 40px;
  width: 40px;
  padding-right: 15px;
}

h1{
  font-size: 2.5em;
  font-family: Verdana;
}

body {
  text-align: center;
}

header {
  width: 100%;
  margin-top: 0%;
  margin-right: 0%;
  margin-left: 0%;
  padding-left: 0%;
  float: top;
  position: relative;
  background-image: url("https://github.com/rauriemo/rauriemo.github.io/blob/master/imgs/nav-background.png?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

header:after{
  display: none;
  content: url("https://github.com/rauriemo/rauriemo.github.io/blob/master/imgs/nav-background.png?raw=true");
}